## Removing certain thing for infinite LIST.

In [52]:
list=[55,10,15,55,44,77,55,11,32,55,669,87,45,55]
for item in list:
    item.remove('55')
print(li)

AttributeError: 'int' object has no attribute 'remove'

In [16]:
li=[55,10,15,55,44,77,55,11,32,55,669,87,45,55]
ini=len(li)
rm=int(input('Please enter the item to remove : '))  #Since list have string values.
for item in li:
    if (item==rm):
        li.remove(item)
fin=len(li)
resultlen=ini-fin
print(f'{li} \n {resultlen} items were removed...')

Please enter the item to remove : 55
[10, 15, 44, 77, 11, 32, 669, 87, 45]
 5 items were removed...

##

In [21]:
animals=['   Monkey   ','   Bear   ','   Cat   ','   Pitbull Dog   ']
empli=[]
for ind in range(0,len(animals)):
    animals[ind]=animals[ind].strip()            #Explain and further study req.
print(animals)

['Monkey', 'Bear', 'Cat', 'Pitbull Dog']

## Sum of square of every number in list

In [35]:
num=int(input('Enter number of element in list : '))
list=[]
numb=0
for i in range(1,num+1):
    list.append(i)
print(f'List is : {list}')
for j in range(0,len(list)+1):             #+1 is req. here
    numb=numb+(j**2)
print(numb)

Enter number of element in list : 15
List is : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
1240

## Sorting list of cities that have particular phase

In [44]:
cities=['kanpur','Chandigarh','Rajpur','killagarh','jimi']
list=[]
to_find=input('Enter partial or full city names to match : ')
for names in cities:
    if to_find in names:
       list.append(names)
cities=list
print(cities)
print(f'number of matches {len(cities)}')

Enter partial or full city names to match : garh
['Chandigarh', 'killagarh']
number of matches 2

In [46]:
cities=['kanpur','Chandigarh','Rajpur','killagarh','jimi']
list=[]
to_find=input('Enter partial or full city names to not show : ')
for names in cities:
    if to_find not in names:
       list.append(names)
cities=list
print(cities)
print(f'number of matches {len(cities)}')

Enter partial or full city names to not show : pur
['Chandigarh', 'killagarh', 'jimi']
number of matches 3

## Messy salary figure cleanup.

In [3]:
salaries=['$15,45,999','$16,45777','$15,12,999','$19,45,997','$05,43,009']
li=[]
for item in salaries:
    j=item.replace('$','')
    k=j.replace(',','')
    li.append(k)
salaries=li
print(salaries)

['1545999', '1645777', '1512999', '1945997', '0543009']

## Creating fruits list from user input until done is entered.

In [4]:
fruits=[]
fr=input('Please enter the fruit name :').lower()
if (fr!='done'):
    while(fr!='done'):
        fruits.append(fr)
        fr=input('Please enter the fruit name :').lower()
else:
    print('List entry completed')
print(fruits)

Please enter the fruit name :Guaua
Please enter the fruit name :Tomato
Please enter the fruit name :Mango
Please enter the fruit name :aPPle
Please enter the fruit name :DonE
['guaua', 'tomato', 'mango', 'apple']

## Set operations in lists.

In [28]:
employee=['Sanket','Sujeev','Selva','Ansh','Mohandeep','Kavya']
gym_members=['Ansh','Mohandeep','Kavya']
developers=['Sanket','Sujeev','Kavya']
gydd = gym_members + developers
c_set=set(gydd)
print(c_set)
gyde=list[c_set]
print(gyde)

TypeError: 'set' object is not callable

In [95]:
book_orders = [
    ['Order Number','Book Title','Author','Quantity','Unit Price'],
    ['34587','Python','Mark','4','40.95'],
    ['98762','Prog. Python','Mark','5','56.80'],
    ['77226','Head First Python','Paul','3','32.95']
]
li=[('Order Number','Net')]        #Empty list.
Grand_Total=0
for item in book_orders[1:]:       #To skip 1st row.
    O_No=item[0]
    Net=float(item[3])*float(item[4])
    if (Net<100):                  #If net<100, price is
        Net+=10                    #incemented by 10Rs.
    li.append(tuple([O_No,Net]))
    Grand_Total+=Net
print(li)                          #form 1
print()
for rows in li:
    print(rows)                    #form 2
print()
print(f'The Grand Total for your Book Orders is {Grand_Total} Rupees.')

[('Order Number', 'Net'), ('34587', 163.8), ('98762', 284.0), ('77226', 108.85000000000001)]

('Order Number', 'Net')
('34587', 163.8)
('98762', 284.0)
('77226', 108.85000000000001)

The Grand Total for your Book Orders is 556.65 Rupees.