# 1

In [2]:
Distance=int(input("Enter daily travelled \
distance in K.M. : "))
Cost=int(input("Enter the current Fuel Price in rupee/litre :"))
Average=int(input("Enter your vehicle average K.M./Litre :"))
Fuel_Usage=Distance/Average
Driving_cost=Cost*Fuel_Usage
print(f"Daily Driving cost is :{Driving_cost} Rupees.")

Enter daily travelled distance in K.M. : 80
Enter the current Fuel Price in rupee/litre :80
Enter your vehicle average K.M./Litre :18
Daily Driving cost is :355.55555555555554 Rupees.

# 2

In [4]:
for i in range(1,31):
    if((i%3==0)&(i%5==0)):
        print('Shabad & Golu')
        continue;
    elif(i%3==0):
        print('Shabad')
        continue;
    elif(i%5==0):
        print('Golu')
        continue;
    else:
        print(i)

1
2
Shabad
4
Golu
Shabad
7
8
Shabad
Golu
11
Shabad
13
14
Shabad & Golu
16
17
Shabad
19
Golu
Shabad
22
23
Shabad
Golu
26
Shabad
28
29
Shabad & Golu

# 3

In [20]:
n=int(input("Please Enter the integer :" ))
Temp=n
Rev=0
while (n>0):
    Digit=n%10
    Rev=Rev*10+Digit
    n=n//10
if(Rev==Temp):
    print(f"{Temp} is palindrome.")
else:
    print(f"{Temp} is not palindrome.")

Please Enter the integer :54
54 is not palindrome.

# 4

In [17]:
hei=input('Please enter your height in feet.inch :')
wei=int(input('Please enter your weight in K.G. :'))
hei1,hei2=hei.split('.')
he1=float(hei1)
he2=float(hei2)
h=(he1*0.3048)+(he2*0.0254)
BMI=wei/(h*h)
print(f'The BMI of person is {BMI}.')

Please enter your height in feet.inch :5.4
Please enter your weight in K.G. :45
The BMI of person is 17.028842651435305.

# 5

In [2]:
cities=['Jaipur','Ambala','Nagpur','Kanpur',\
        'Karnal','Sholapur']
list=[]
to_find=input('Enter partial or full city names to match : ')
for names in cities:
    if to_find in names:
       list.append(names)
cities=list
print(cities)
#print(f'number of matches {len(cities)}')

Enter partial or full city names to match : pur
['Jaipur', 'Nagpur', 'Kanpur', 'Sholapur']

# 6

In [6]:
book_orders = [
    ['Order Number','Book Title','Author','Quantity','Unit Price'],
    ['34587','Learning Python','Mark Lutz','4','40.95'],
    ['98762','Programming Python','Mark Lutz','5','56.80'],
    ['77226','Head First Python','Paul Barry','3','32.95']
]
li=[]        #Empty list.
Grand_Total=0
for item in book_orders[1:]:       #To skip 1st row.
    O_No=item[0]
    Net=float(item[3])*float(item[4])
    if (Net<100):                  #If net<100, price is
        Net+=10                    #incemented by 10Rs.
    li.append(tuple([O_No,Net]))
    Grand_Total+=Net
print(li)
print()
print(f'The Grand Total for your Book Orders is {Grand_Total} Rupees.')

[('34587', 163.8), ('98762', 284.0), ('77226', 108.85000000000001)]

The Grand Total for your Book Orders is 556.65 Rupees.

# 7

In [7]:
string = "aabaacdaadd"
frequency_dict = {}
for char in string:
    if char in frequency_dict:
        frequency_dict[char] += 1
    else:
        frequency_dict[char] = 1
print(frequency_dict)

{'a': 6, 'b': 1, 'c': 1, 'd': 3}

# 8

In [2]:
d = {}
while True:
    key_value=input("enter item name,quantity sold, unit price :").upper()
    if key_value == "CLOSE":
        break
    item_name,quantity_sold,unit_price=key_value.split(",")
    key=item_name
    value1 = int (quantity_sold)
    value2 = float(unit_price)
    value = value1*value2
    if key in d:
        d[key] += value
    else:
        d[key] = value
print(d)

enter item name,quantity sold, unit price :Banana Fries,2,20.60
enter item name,quantity sold, unit price :Potato Chips,3,15.50
enter item name,quantity sold, unit price :Apple Juice,10,100.75
enter item name,quantity sold, unit price :Candy,5,2.50
enter item name,quantity sold, unit price :Apple Juice,6,100.75
enter item name,quantity sold, unit price :Candy,5,2.50
enter item name,quantity sold, unit price :Candy,5,2.50
enter item name,quantity sold, unit price :Banana Fries,3,20.60
enter item name,quantity sold, unit price :Candy,5,2.50
enter item name,quantity sold, unit price :Potato Chips,5,15.50
enter item name,quantity sold, unit price :close
{'BANANA FRIES': 103.0, 'POTATO CHIPS': 124.0, 'APPLE JUICE': 1612.0, 'CANDY': 50.0}

# 9

In [43]:
def variable_args(**args):
    for key, value in args.items():
        print(f"{key}: {value}")
variable_args(Subject="Ben", Type="Clerk", Experience="15")

Subject: Ben
Type: Clerk
Experience: 15

# 10

In [16]:
def fibo(i): 
    if (i==1):
        return 0
    elif(i==2):
        return 1
    else:
        return(fibo(i-1)+fibo(i-2))
x=int(input("Enter the number of terms required. :"))
print(f'The fibonacci {x}th term is {fibo(x)}.')
print(f'The fibonacci {x} terms are :')
for i in range(1,x+1):
    print(fibo(i))

Enter the number of terms required. :10
The fibonacci 10th term is 34
The fibonacci 10 terms are :
0
1
1
2
3
5
8
13
21
34

# 11

In [16]:
i, j, k=8,0,0
try:
    k=i/j
    print("k=",k)
    print("End")
except ZeroDivisionError as e:
    print("The Error is :",e)

The Error is : division by zero

# 12

In [28]:
try:
    marks=int(input("Enter student marks : "))
    assert marks>=0 and marks<=100
    print(f'Entered student marks : {marks}')
except AssertionError:
    print('Enter Student Marks correctly.')

Enter student marks : 101
Enter Student Marks correctly.

# 13

In [35]:
class UserException(Exception):
    def _init(self,msg):
        self.message=msg
marks=int(input("Enter student marks : "))
try:
    if(marks<0 or marks>100):
        raise UserException("Invalid Marks.")
except UserException as error:
    print(error)
    print(type(error))

Enter student marks : 444
Invalid Marks.
<class '__main__.UserException'>