In [30]:
#Tuples - Are immutable. The values or items in the tuple cannot be changed once it is declared. If we want to 
#              change the values, we have to create a new tuple 
#Are placed in parenthesis for easier understanding, not requirement.
months = ('January', 'February', 'March', 'April', 'May', 'June', \
          'July', 'August', 'September', 'October', 'November', 'December')
print(months)
print()

# Can be without parenthesis too..
month = 'January', 'February', 'March', 'April', 'May', 'June', \
          'July', 'August', 'September', 'October', 'November', 'December'
print(month)
print()

# - Can be nested tuple.
monts = (('January', 'February', 'March'), ('April', 'May', 'June'), \
          ('July', 'August', 'September'), ('October', 'November', 'December'))
print(monts)

('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')

('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')

(('January', 'February', 'March'), ('April', 'May', 'June'), ('July', 'August', 'September'), ('October', 'November', 'December'))

In [31]:
#Accessing tuple value
months = ('January', 'February', 'March', 'April', 'May', 'June', \
          'July', 'August', 'September', 'October', 'November', 'December')
#By Indexing in square brackett
print(months[3])
#By Slicing
print(months[:2])

April
('January', 'February')

In [42]:
#Tuple assignment
data = ("Alex","7")
(Name,id) = data
print(Name)
print(id)

Alex
7

In [49]:

#Operation in tuples
#1 concatenate
tup1=('a','b')
tup2=(1,2)
tup3=tup1+tup2
print(tup3)
#repeat
print(tup3*2)
#in operator
print(1 in tup1)
1 in tup2

('a', 'b', 1, 2)
('a', 'b', 1, 2, 'a', 'b', 1, 2)
False

True

In [ ]:
6.1.8 Built-In Tuple Functions
Python includes many built-in functions that can be executed on tuples. Some of them are described in Table 
6.1.
TABLE 6.1 Built-in Functions
S.No. Function Description
1. cmp(tuple1, tuple2)      It compares the items of two tuples.
2. len(tuple)               It returns the length of a tuple.
3. zip(tuple1, tuple2)      It ‘zips’ elements from two tuples into a list of tuples. Small lenght tuple is maintained.
4. max(tuple)               It returns the largest value among the elements in a tuple.
5. min(tuple)               It returns the smallest value among the elements in a tuple
6. tuple(seq)               It converts a list into a tuple.

# 2nd Part DIct.

In [56]:
# Unordered collection of items or elements.
# Dictionaries in Python are mutable i.e, can be changed.b
# dictionary has a key: value pair. Each value is associated with a key.
# A key and its value are separated by a colon (:) between them.
# Key-value key pair is unique and is considered as single element.
dict1 = {1:'red',2:'yellow',3:'green'}  #1:'red' is single element
print(dict1)
# Accessing value from dict.
# Method-1
print(dict1[2])     #Does not refers Index, but refers key.
# Method-2( name.get(key) method)
dict1.get(2)

{1: 'red', 2: 'yellow', 3: 'green'}
yellow

'yellow'

In [58]:
dict1 = {'name' : 'John', 'age' : 27}
dict1['age'] = 30 # updating a value, since age key is already present, old is updated.
print(dict1)
dict1['address'] = 'Alaska' # adding a key: value
print(dict1)

{'name': 'John', 'age': 30}
{'name': 'John', 'age': 30, 'address': 'Alaska'}

In [74]:
# Deleting from a dictory
# Method 1
dict1 = {'name' : 'John', 'age' : 27, 'address': 'Alaska', 'group':2 }
print(dict1)
dict1.pop('address')
print(dict1)
dict1.popitem()       #remove one element randomly
print(dict1)
dict1.clear()
print(dict1)

{'name': 'John', 'age': 27, 'address': 'Alaska', 'group': 2}
{'name': 'John', 'age': 27, 'group': 2}
{'name': 'John', 'age': 27}
{}

In [ ]:
# Properties of key in dict.
# 1: One key in a dictionary cannot have two values, i.e., duplicate keys are not allowed in the dictionary; 
#    they must be unique. Whenever duplicate keys are assigned values in a dictionary, the latest value is 
#    considered and stored whereas the previous one is lost.

# 2:  Keys are immutable, i.e., we can use string, integers or tuples for dictionary keys, but something like 
#     [‘key’] is not valid.