# Import cool stuff.

In [97]:
import pandas as pd
import numpy as np

# used for dates
import datetime
from datetime import date, datetime

# Controls Pandas output format.
pd.set_option('display.notebook_repr_html', False)  #display output as text, not HTML.
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 5)
pd.set_option('display.width', 120)

# For graphs
import matplotlib.pyplot as plt
%matplotlib inline

# Do something with cool stuff.

In [24]:
#The pandas is the base data structure of pandas. A series is similar to a NumPy
#array, but it differs by having an index, which allows for much richer lookup of items
#instead of just a zero-based array index value

#Have Index at data type: object and as well as numbers from 0.
s = pd.Series([5,6,7,8], index = ['five',"six","seven","eight"]) #Keyword "Series is Case-Sensitive"
print(s)
print() # for spacing, ignore!!!
print(s[['six',"eight"]]) #Access using pandas index which is Case-Sensitive i.e, Eight!=eight 
print()
print(s.index)
print()
print(s[[2,0]]) #Access using normal index

five     5
six      6
seven    7
eight    8
dtype: int64

six      6
eight    8
dtype: int64

Index(['five', 'six', 'seven', 'eight'], dtype='object')

seven    7
five     5
dtype: int64

# Do something useful with Series stuff.

In [61]:
dates = pd.date_range('2020-04-04', '2020-04-06') # created index for future use
print(dates)
print()
temp1 = pd.Series([35,40,30], index = dates) #inde used here and below too!!!
print()
temp2 = pd.Series([20,30,26], index = dates)
print(temp1)
print()
print(temp2)
print()
temp_diff = temp1-temp2
print(temp_diff) #differnce in temp at two place, can be accessed
#OR access temp for certain dates
print()
print(temp1['2020-04-05']) #As dates are index in pandas Series.

DatetimeIndex(['2020-04-04', '2020-04-05', '2020-04-06'], dtype='datetime64[ns]', freq='D')


2020-04-04    35
2020-04-05    40
2020-04-06    30
Freq: D, dtype: int64

2020-04-04    20
2020-04-05    30
2020-04-06    26
Freq: D, dtype: int64

2020-04-04    15
2020-04-05    10
2020-04-06     4
Freq: D, dtype: int64

40

# Date-Frame Stuff from Pandas cool stuff.

In [68]:
# A pandas can only have a single value associated with each index label. To have
# multiple values per index label we can use a data frame. A data frame represents one or
# more objects aligned by index label. Each series will be a column in the data frame,
# and each column can have an associated name.

# --- Basically like a table from database ---
# --- We can Assign Column name too ---

############------DataFrame---Case-sensitice___############
print(temp_diff)
temp_diff_new = pd.DataFrame({'Delhi':temp1,'NYC':temp2,'Del-NYC':temp1-temp2}) # ---Two places can be named too! ---
print(temp_diff_new)
print("----------------------------------------------------")

# Retrieve through property syntax
print(temp_diff_new.columns)
print()
print(temp_diff_new.NYC)

2020-04-04    15
2020-04-05    10
2020-04-06     4
Freq: D, dtype: int64
            Delhi  NYC  Del-NYC
2020-04-04     35   20       15
2020-04-05     40   30       10
2020-04-06     30   26        4
----------------------------------------------------
Index(['Delhi', 'NYC', 'Del-NYC'], dtype='object')

2020-04-04    20
2020-04-05    30
2020-04-06    26
Freq: D, Name: NYC, dtype: int64

# Accessing Rows in data

In [75]:
# Entire rows from a data frame can be retrieved using the .loc and .iloc properties. .loc
# ensures that the lookup is by index label, where .iloc uses the 0-based position. -

# --------  retrieves the second row ----------------
print(temp_diff_new.iloc[1]) # .iloc - Show Row using default index
print(temp_diff_new.loc['2020-04-05']) # .loc - Show Row using named index

print('--- Other Access method already studied, Refer Sem-1 ---')

Delhi      40
NYC        30
Del-NYC    10
Name: 2020-04-05 00:00:00, dtype: int64
Delhi      40
NYC        30
Del-NYC    10
Name: 2020-04-05 00:00:00, dtype: int64
--- Other Access method already studied, Refer Sem-1 ---

#  Stuff that reads stuff --- csv file using panda

In [124]:
!type data.csv
print("---------------------------------------------------")
print("---------------------------------------------------")
df = pd.read_csv('C:\\Users\\ssrit\\Jupyter notebook sem 2\\data.csv', parse_dates=['Date'], index_col = 'Date')
print(df)
print("---------------------------------------------------------------------------------------------------------")
print(df.index)
print("---------------------------------------------------------------")
print(df.iloc[1])
print("---------------------------------------------------")
print(df.loc['2024-04-19'])

Date,Name,Price,Available---------------------------------------------------
---------------------------------------------------

2024/04/14,Apple iPhone 13,1099.99,True
2024/04/15,Samsung Galaxy S22 Ultra,1249.99,False
2024/04/16,Amazon Echo Dot (4th Gen),39.99,True
2024/04/17,Logitech MX Master 3,99.99,True
2024/04/18,Microsoft Surface Pro 8,1299.99,False
2024/04/19,Sony PlayStation 5,499.99,True
2024/04/20,Bose QuietComfort 45,329.99,False
2024/04/21,Nintendo Switch OLED,349.99,True
2024/04/22,Google Pixel 7,799.99,True
2024/04/23,Dyson V15 Detect,699.99,False
                                Name    Price  Available
Date
2024-04-14           Apple iPhone 13  1099.99       True
2024-04-15  Samsung Galaxy S22 Ultra  1249.99      False
...                              ...      ...        ...
2024-04-22            Google Pixel 7   799.99       True
2024-04-23          Dyson V15 Detect   699.99      False

[10 rows x 3 columns]
---------------------------------------------------------------------------------------------------------
DatetimeIndex(['2024-04-14', '2024-04-15', '2024-04-16', '2024-04-17', '2024-04-18', '2024-04-19', '2024-04-20',
               '2024-04-21', '2024-04-22', '2024-04-23'],
              dtype='datetime64[ns]', name='Date', freq=None)
---------------------------------------------------------------
Name         Samsung Galaxy S22 Ultra
Price                         1249.99
Available                       False
Name: 2024-04-15 00:00:00, dtype: object
---------------------------------------------------
Name         Sony PlayStation 5
Price                    499.99
Available                  True
Name: 2024-04-19 00:00:00, dtype: object

# Unit last part Stuff!!

# Representing Univariate data with the series

In [133]:
# Some cool new stuff
e = pd.Series(list('abcde'))
print(e)
print("---------------------------------------------------")
f = pd.Series([7]*2)
print(f)
print("---------------------------------------------------")
#Series from dictionary. Dict to be declared inside {} , not seperately.
ser = pd.Series({'Father':'Dad', 'Mother':'Mom', 'Son':'Child'})
print(ser)
print("---------------------------------------------------")

0    a
1    b
2    c
3    d
4    e
dtype: object
---------------------------------------------------
0    7
1    7
dtype: int64
---------------------------------------------------
Father      Dad
Mother      Mom
Son       Child
dtype: object
---------------------------------------------------

In [135]:
pd.Series(np.arange(4,8))

0    4
1    5
2    6
3    7
dtype: int32

In [137]:
pd.Series(np.linspace(0,10,5))

0     0.0
1     2.5
2     5.0
3     7.5
4    10.0
dtype: float64

In [176]:
# from random numbers
np.random.seed(12345) #For keep random number always constant.
p = pd.Series(np.random.normal(size=5))
p

0   -0.204708
1    0.478943
2   -0.519439
3   -0.555730
4    1.965781
dtype: float64

# Size shape of series

In [184]:
print(len(s))
print(s.size)
print(s.shape)
print("--- Tuple output for shape of series. ---")

4
4
(4,)
--- Tuple output for shape of series. ---

# Retrieving value in a series by label or position

In [189]:
# s.loc[] Used for label specfying of index.

# s.iloc[] # Used for default Index.

print(s)
print('----------------')
print(s.loc['six'])
print(s.loc[['six',"eight"]])
print('-----------------')
print(s.iloc[2])

five     5
six      6
seven    7
eight    8
dtype: int64
----------------
6
six      6
eight    8
dtype: int64
-----------------
7

# --- Enough Cool stuff for Today ---