# Import stuff to do Cool Stuff.

In [1]:
import pandas as pd
import numpy as np

# used for dates
import datetime
from datetime import date, datetime

# Controls Pandas output format.
pd.set_option('display.notebook_repr_html', False)  #display output as text, not HTML.
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 5)
pd.set_option('display.width', 120)

# For graphs
import matplotlib.pyplot as plt
%matplotlib inline

## Manipulating data frame structure

In [2]:
dd = pd.read_csv('sec.csv')
dd

   Tag        Date                      Name    Price  Available
0  New  2024/04/14           Apple iPhone 13  1099.99       True
1  Old  2024/04/15  Samsung Galaxy S22 Ultra  1249.99      False
2  New  2024/04/22            Google Pixel 7   799.99       True

### Renaming columns

In [3]:
copy = dd.copy()
print(copy)
print('-----------------------------------------------------------------')
# inplace=true to modify in same file
copy.rename(columns = {"Name" : "PhoneName"}, inplace = True)
print(copy)
print('-----------------------------------------------------------------')
copy.PhoneName

   Tag        Date                      Name    Price  Available
0  New  2024/04/14           Apple iPhone 13  1099.99       True
1  Old  2024/04/15  Samsung Galaxy S22 Ultra  1249.99      False
2  New  2024/04/22            Google Pixel 7   799.99       True
-----------------------------------------------------------------
   Tag        Date                 PhoneName    Price  Available
0  New  2024/04/14           Apple iPhone 13  1099.99       True
1  Old  2024/04/15  Samsung Galaxy S22 Ultra  1249.99      False
2  New  2024/04/22            Google Pixel 7   799.99       True
-----------------------------------------------------------------

0             Apple iPhone 13
1    Samsung Galaxy S22 Ultra
2              Google Pixel 7
Name: PhoneName, dtype: object

### Adding new columns with [] and .insert()

### Four methods 
### 1.[index] = data
### 2. name.insert(pos, column, data) 
### 3. Enlargement .loc[row,column]
### 4. Concatenation of two DataFrames.

In [4]:
copy2=dd.copy()
roundoff = copy2.Price.round()
copy2['RoundPrice'] = roundoff
copy2

   Tag        Date                      Name    Price  Available  RoundPrice
0  New  2024/04/14           Apple iPhone 13  1099.99       True      1100.0
1  Old  2024/04/15  Samsung Galaxy S22 Ultra  1249.99      False      1250.0
2  New  2024/04/22            Google Pixel 7   799.99       True       800.0

In [5]:
# .insert() method can be used to add a new column at a specific location.
copy3 = dd.copy()
copy3.insert(4,'RoundPrice',roundoff)
copy3

   Tag        Date                      Name    Price  RoundPrice  Available
0  New  2024/04/14           Apple iPhone 13  1099.99      1100.0       True
1  Old  2024/04/15  Samsung Galaxy S22 Ultra  1249.99      1250.0      False
2  New  2024/04/22            Google Pixel 7   799.99       800.0       True

In [6]:
# Adding columns through enlargement
copy3.loc[: ,'Sales']=0
copy3

   Tag        Date                      Name    Price  RoundPrice  Available  Sales
0  New  2024/04/14           Apple iPhone 13  1099.99      1100.0       True      0
1  Old  2024/04/15  Samsung Galaxy S22 Ultra  1249.99      1250.0      False      0
2  New  2024/04/22            Google Pixel 7   799.99       800.0       True      0

In [7]:
# we can add data too!!!
copy3.loc[[0,1,2],'Sales'] = [3,2,3]
copy3

   Tag        Date                      Name    Price  RoundPrice  Available  Sales
0  New  2024/04/14           Apple iPhone 13  1099.99      1100.0       True      3
1  Old  2024/04/15  Samsung Galaxy S22 Ultra  1249.99      1250.0      False      2
2  New  2024/04/22            Google Pixel 7   799.99       800.0       True      3

In [8]:
#Adding columns using concatenation(Original Unchnaged)
### --- Joins two DF structure ---
# pd.concat()---axis=0(row)---axis=1(col)---
copy4 = dd.copy()
copy5 = pd.DataFrame({'RoundedPrice' : roundoff})
print(copy5)
print('--------------Now copy4 and copy5 are two different DataFrames-------------')
print(pd.concat([copy4, copy5], axis =1))
print('-----------Two column have same name, both will be accessed.---------------')

   RoundedPrice
0        1100.0
1        1250.0
2         800.0
--------------Now copy4 and copy5 are two different DataFrames-------------
   Tag        Date                      Name    Price  Available  RoundedPrice
0  New  2024/04/14           Apple iPhone 13  1099.99       True        1100.0
1  Old  2024/04/15  Samsung Galaxy S22 Ultra  1249.99      False        1250.0
2  New  2024/04/22            Google Pixel 7   799.99       True         800.0
-----------Two column have same name, bot will be accessed.---------------

### Replacing the contents of a column

In [9]:
copy6 = dd.copy()
copy7 = dd.copy()
print(copy6)
print('---------------------------------------------------------------------------------')
copy6['Price'] = roundoff #OR copy6.Price = ---
print(copy6)
print('---------------------------------------------------------------------------------')
copy7.loc[:,'Price'] = [1100,1250,800]
print('this is copy7 =\n',copy7)

   Tag        Date                      Name    Price  Available
0  New  2024/04/14           Apple iPhone 13  1099.99       True
1  Old  2024/04/15  Samsung Galaxy S22 Ultra  1249.99      False
2  New  2024/04/22            Google Pixel 7   799.99       True
---------------------------------------------------------------------------------
   Tag        Date                      Name   Price  Available
0  New  2024/04/14           Apple iPhone 13  1100.0       True
1  Old  2024/04/15  Samsung Galaxy S22 Ultra  1250.0      False
2  New  2024/04/22            Google Pixel 7   800.0       True
---------------------------------------------------------------------------------
this is copy7 =
    Tag        Date                      Name  Price  Available
0  New  2024/04/14           Apple iPhone 13   1100       True
1  Old  2024/04/15  Samsung Galaxy S22 Ultra   1250      False
2  New  2024/04/22            Google Pixel 7    800       True

C:\Users\ssrit\AppData\Local\Temp\ipykernel_14060\2152868974.py:8: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  copy7.loc[:,'Price'] = [1100,1250,800]

### Deleting Column      --- Some Cool stuff may not be SO cOoL.?---

### 1. del method del name['col']
### 2. name.pop('col')
### 3. drop('name', axis = 0/1)

In [11]:
# del method
print(copy3)
print('------------------------------------------------------------------------------------------')
del copy3['Price']
print(copy3)

   Tag        Date                      Name    Price  RoundPrice  Available  Sales
0  New  2024/04/14           Apple iPhone 13  1099.99      1100.0       True      3
1  Old  2024/04/15  Samsung Galaxy S22 Ultra  1249.99      1250.0      False      2
2  New  2024/04/22            Google Pixel 7   799.99       800.0       True      3
------------------------------------------------------------------------------------------
   Tag        Date                      Name  RoundPrice  Available  Sales
0  New  2024/04/14           Apple iPhone 13      1100.0       True      3
1  Old  2024/04/15  Samsung Galaxy S22 Ultra      1250.0      False      2
2  New  2024/04/22            Google Pixel 7       800.0       True      3

In [14]:
# name.pop method - allows to check popped item.
popped = copy3.pop('Date')
print(copy3)
print('------------------------------------------------------------------------------------------')
print(popped)

   Tag                      Name  RoundPrice  Available  Sales
0  New           Apple iPhone 13      1100.0       True      3
1  Old  Samsung Galaxy S22 Ultra      1250.0      False      2
2  New            Google Pixel 7       800.0       True      3
------------------------------------------------------------------------------------------
0    2024/04/14
1    2024/04/15
2    2024/04/22
Name: Date, dtype: object

In [27]:
# drop() method can delete both ROW and COLUMN
dropc = copy3.drop([1], axis = 0) #axis = 1 for column
dropc #SAMSONG removed!

   Tag             Name  RoundPrice  Available  Sales
0  New  Apple iPhone 13      1100.0       True      3
2  New   Google Pixel 7       800.0       True      3

### Appending new rows

### 1. name.append(name2) ---Will be deprecated soon.---
### 2. pd.concat([ items ]) --- As studied earlier ---

In [47]:
dropc1 = dropc.copy()
data = {'Tag': ['New'],
        'Name': ['Redmi Turbo Max'],
        'RoundPrice': [250],
       'Available' : ['True'],
        'Sales' : [0],}
add = pd.DataFrame(data)
print(add)
print('------------------------------------------------------------------------------------------')
added = dropc1.append(add, ignore_index = False) #true for default index.
print(added)
print('--------------------------- both item with same index are displayed -----------------------')
print(added.loc[0])

   Tag             Name  RoundPrice Available  Sales
0  New  Redmi Turbo Max         250      True      0
------------------------------------------------------------------------------------------
   Tag             Name  RoundPrice Available  Sales
0  New  Apple iPhone 13      1100.0      True      3
2  New   Google Pixel 7       800.0      True      3
0  New  Redmi Turbo Max       250.0      True      0
--------------------------- both item with same index are displayed -----------------------
   Tag             Name  RoundPrice Available  Sales
0  New  Apple iPhone 13      1100.0      True      3
0  New  Redmi Turbo Max       250.0      True      0

C:\Users\ssrit\AppData\Local\Temp\ipykernel_14060\1179113976.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  added = dropc1.append(add, ignore_index = False) #true for default index.

In [52]:
item = {'Tag': ['New'],
        'Name': ['Redmi Turbo Max'],
        'RoundPrice': [250],
       'Available' : ['True'],
        'Sales' : [0],}
add = pd.DataFrame(data) # change to DataFrame for concat
print(add)
print('------------------------------------------------------------------------------------------')
concat = pd.concat([dropc, add], keys = ['dropc','add']) #keys used to know origination.
print(concat)

   Tag             Name  RoundPrice Available  Sales
0  New  Redmi Turbo Max         250      True      0
------------------------------------------------------------------------------------------
         Tag             Name  RoundPrice Available  Sales
dropc 0  New  Apple iPhone 13      1100.0      True      3
      2  New   Google Pixel 7       800.0      True      3
add   0  New  Redmi Turbo Max       250.0      True      0

# Doing some other stuff, to change stuff into some other cool Stuff.

## -----------------      2nd part Numerical and Statistical Method ---------------------------------

### Performing arithmetic on a data frame or series

In [56]:
##omh = pd.read_csv("data/sp500.csv", index_col='Symbol',usecols=[0,2,3,7]) #
#omh = pd.read_csv("data/omh.csv")
print('Consider you read that file from local PC')
print("ik this isn't math, but I don't have that file either, so yeh!, make do!\n")

Consider you read that file from local PC
ik this isn't math, but I don't have that file either, so yeh!, make do!

In [63]:
np.random.seed(123456)
DD = pd.DataFrame(np.random.randn(5,4), columns = ['A','B','C','D'], index = ['a','b','c','d','e'])
DD

          A         B         C         D
a  0.469112 -0.282863 -1.509059 -1.135632
b  1.212112 -0.173215  0.119209 -1.044236
c -0.861849 -2.104569 -0.494929  1.071804
d  0.721555 -0.706771 -1.039575  0.271860
e -0.424972  0.567020  0.276232 -1.087401

In [64]:
DD*2

          A         B         C         D
a  0.938225 -0.565727 -3.018117 -2.271265
b  2.424224 -0.346429  0.238417 -2.088472
c -1.723698 -4.209138 -0.989859  2.143608
d  1.443110 -1.413542 -2.079150  0.543720
e -0.849945  1.134041  0.552464 -2.174801

In [66]:
DD1 = DD.iloc[0]
diff = DD - DD1
print(diff)
print('------------------------------------------------------------------------------------------')
diffo = DD1 - DD
print(diffo)

          A         B         C         D
a  0.000000  0.000000  0.000000  0.000000
b  0.743000  0.109649  1.628267  0.091396
c -1.330961 -1.821706  1.014129  2.207436
d  0.252443 -0.423908  0.469484  1.407492
e -0.894085  0.849884  1.785291  0.048232
------------------------------------------------------------------------------------------
          A         B         C         D
a  0.000000  0.000000  0.000000  0.000000
b -0.743000 -0.109649 -1.628267 -0.091396
c  1.330961  1.821706 -1.014129 -2.207436
d -0.252443  0.423908 -0.469484 -1.407492
e  0.894085 -0.849884 -1.785291 -0.048232